@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  background-color: #36384E;
}

.fit-img {
  width: 100%;
  height: 100%;
  background-image: url("/illustration-sign-up-desktop.svg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}